@import "reset";

html, body {
    height: 100%;
}

.container {
    min-height: 100%;
    margin: 0 auto -64px;
    max-width: 960px;
}

.container:after {
    height: 64px;
    content: "";
    display: block;
}

footer {
    margin: 0 auto;
    height: 64px;
    max-width: 960px;
}

md-card-content h3 {
    max-height: 16px;
    overflow: hidden;
    text-align: center;
}
